---
import { Logo } from "@components/Logo/Logo";
import { ThemeToggle } from "@components/ThemeToggle/ThemeToggle";
---

<div class="flex w-full flex-wrap items-center justify-between px-3">
  <div
    class="!visible hidden flex-shrink basis-[100%] items-center lg:!flex lg:basis-auto"
    id="navbarSupportedContent1"
    data-te-collapse-item
  >
    <a
      class="mb-4 ml-2 mr-5 mt-3 flex items-center text-high-contrast lg:mb-0 lg:mt-0"
      href="/"
    >
      <Logo client:only />
    </a>
  </div>

  <div class="relative flex items-center">
    <ThemeToggle client:only />
  </div>
</div>
